.about {
  flex-direction: column;
  margin-top: 10rem;
  /* border: 2px solid red; */
  height: 80vh;
}

.about__name {
  color: var(--clr-primary);
  
}

.greeting{
  animation: title 1.5s forwards;
}

.about__role {
  margin-top: 1.2em;
  opacity: 0;
  animation: title 1.8s forwards 1s;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
  opacity: 0;
  animation: title 1.8s forwards 1.3s;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

/* .about__contact{
  border: 2px solid green;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.link--icon{
  transform: translateY(3px);
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

@media (max-width: 600px) {
  .app .about {
    align-items: center;
    margin-top: 9em;
    text-align: center;
  }
  .about__desc{
    text-align: center;
    
  }
  .about__name{
    display: block;
  }
}

.action__links{
  /* text-align: center; */
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: appear 2s forwards 3s;
}

@keyframes title {
  0%{
    opacity: 0;
    transform: translateY(40px);
  }
  100%{
    opacity: 1;
  }
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}